.investigadores-container {
  padding: 20px;
}

.titulo {
  color: #218838;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.invest-search-bar {
  max-width: 300px;
  margin: 0 auto 20px;
}

.investigadores-table {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.investigadores-table th {
  background-color: #218838;
  color: white;
}

.investigador-foto {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.invest-btn-modificar,
.invest-btn-habilitar,
.invest-btn-deshabilitar {
  margin: 2px;
}

.loading,
.error {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

.error {
  color: #dc3545;
}