/* Contenedor principal */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Barra de búsqueda */
.home-search-container {
  text-align: center;
  margin-bottom: 20px;
}

.home-search-bar {
  width: 60%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  transition: width 0.3s ease;
}

.home-search-bar:focus {
  width: 70%;
}

/* Carrusel */
.carousel .carousel-item {
  position: relative;
}

.carousel .carousel-item img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Agregar gradiente sobre la imagen para crear el efecto de desvanecimiento */
.carousel .carousel-item img {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

/* Pestañas */
.home-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.home-tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.home-tab.active {
  background-color: #218838;
  color: white;
}

/* Tarjetas */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card,
.publication-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover,
.publication-card:hover {
  transform: translateY(-10px);
}

.card-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-button {
  background-color: #218838;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #196f2e;
}

/* Contenedor del carrusel */
.carousel-container {
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  margin-left: calc(-50vw + 50%); /* Centra el carrusel */
}

.carousel img {
  width: 100vw; /* Asegura que las imágenes ocupen todo el ancho de la ventana */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Ajustes adicionales para responsividad */
@media (max-width: 768px) {
  .carousel img {
    height: auto; /* Mantener las proporciones correctas en pantallas pequeñas */
  }
}
